<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/smartweather.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>SmartWeather</title>

</head>

<body class="sw-body">

<!--导航栏-->
<nav th:replace="~{navigation :: nav-bar}"></nav>

<!--没有定位信息，显示welcome并通过JavaScript获取位置信息重新发送请求-->
<div th:if="${located} == false">
    <!--页面主要内容-->
    <div class="container-fluid">
        <div class="row">
            <!--页面左边占位-->
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>

            <!--内容-->
            <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10 sw-container-main">
                <!--列表部分-->
                <div class="row">
                    <!--占位-->
                    <div class="col-lg-1 col-md-1"></div>

                    <!--列表-->
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-ad-title">
                            <div class="jumbotron">
                                <h3 class="sw-btn-submit">Welcome to SmartWeather!</h3>
                            </div>
                        </div>
                    </div>

                    <!--占位-->
                    <div class="col-lg-1 col-md-1"></div>
                </div>
            </div>

            <!--页面右边占位-->
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>

    <script>
        function getLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
            else
            {
                console.log("该浏览器不支持获取地理位置。");
            }
        }

        function showPosition(position)
        {
            $.ajax({
                url: "/",
                data: {
                    "latitude": position.coords.latitude,
                    "longitude": position.coords.longitude
                },
                success: function (response) {
                    console.log("ok");
                    window.location.replace("/");
                }
            });
        }

        function showError(error) {
            console.log(error);
        }
        getLocation();
    </script>
</div>

<!--有定位信息，显示定位和天气信息-->
<div th:if="${located} == true">
    <div class="container-fluid">
        <div class="row">
            <!--占位-->
            <div class="col-lg-1 col-md-1 col-sm-1"></div>

            <!--页面主要内容-->
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 sw-container-main sw-index-container">
                <!--左边-->
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <!--Current location-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-sub-container">
                        <h4 class="sw-index-title">Location</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-font">
                            City: <span th:text="${city}"></span> &emsp;
                            Latitude: <span th:text="${latitude}"></span>° &emsp;
                            Longitude: <span th:text="${longitude}"></span>°
                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>

                    <!--Current weather-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-sub-container">
                        <h4 class="sw-index-title">Current Weather</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-font">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img th:src="@{'http://openweathermap.org/img/w/' + ${currentweather.icon} + '.png'}">
                                Temperature: <span th:text="${currentweather.temp}"></span> °F, &emsp;<span th:text="${currentweather.mainInfo}"></span>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Feels Like: <span th:text="${currentweather.feel_like}"></span> °F
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Lowest: <span th:text="${currentweather.temp_min}"></span> °F
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Highest: <span th:text="${currentweather.temp_max}"></span> °F
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Humidity: <span th:text="${currentweather.humidity}"></span> %
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Pressure: <span th:text="${currentweather.pressure}"></span> hPa
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Cloudiness: <span th:text="${currentweather.clouds}"></span> %
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    Wind Speed: <span th:text="${currentweather.wind_speed}"></span> meter/sec
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    Wind Direction: <span th:text="${currentweather.wind_deg}"></span> °
                                </div>
                            </div>
                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>

                    <!--Recommendation-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-sub-container">
                        <h4 class="sw-index-title">Recommendation for <span th:text="${weather_codes.text}"></span> weather</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-font">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="recommendation : ${recommendations}">
                                <span th:text="${recommendation.type}"></span>: <span th:text="${recommendation.text}"></span>
                            </div>
                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>

                    <!--24 hour forecast-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-sub-container">
                        <h4 class="sw-index-title">24-hour weather forecast</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-font">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Hour</th>
                                        <th>Temperature (°F)</th>
                                        <th>Humidity (%)</th>
                                        <th>Cloudiness (%)</th>
                                        <th>Wind speed (m/sec)</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="i : ${#numbers.sequence(0, 23)}">
                                        <td><span th:text="${i + 1}"></span>h</td>
                                        <td th:text="${weather_forecast.temp[i]}"></td>
                                        <td th:text="${weather_forecast.humidity[i]}"></td>
                                        <td th:text="${weather_forecast.clouds[i]}"></td>
                                        <td th:text="${weather_forecast.wind_speed[i]}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右边-->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-sub-container">
                        <h4 class="sw-index-title">Other location</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sw-index-font">
                            <form class="form-horizontal" action="/search" method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:name="searchStr" placeholder="City name" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <!--占位-->
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
    </div>
</div>


</body>

</html>