<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/smartweather.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>SmartWeather</title>
</head>

<body style="background-color: #efefef">

<!--导航栏-->
<nav th:replace="~{navigation :: nav-bar}"></nav>

<!--页面主要内容-->
<div class="container-fluid sw-container-main">
    <div class="row">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                天气信息
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table style="width: 100%" border="1">
                    <thead>
                        <tr>
                            <th style="width: 20%"> Weather </th>
                            <th style="width: 15%"> Type </th>
                            <th style="width: 65%"> Recommendation </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${weather_codes.text}" th:rowspan="${recommendations.size()+1}"></td>
                        </tr>
                        <tr th:each="recommendation : ${recommendations}">
                            <td th:text="${recommendation.type} "></td>
                            <td th:text="${recommendation.text} "></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                未来天气
            </div>
        </div>

        <!--右边主要内容-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                感兴趣的地方
            </div>
        </div>
    </div>
</div>

</body>

</html>